@use '@/styles/variables.scss' as *;

.main {
  margin-left: $sidebar-width;
  margin-top: var(--titlebar-offset);
  padding: $gutter;
  height: calc(100vh - var(--titlebar-offset));
  overflow-y: auto;
}

.container {
  width: 100%;
  max-width: none;
}
